{% include "store/base.html" %}



{% block content %}
    <section class="container">
        <div class="row col-lg-6">
            <div class="col">
                <h3>Транзакция прошла неудачно: </h3>
                <br>
                <br>
                <a class="btn btn-info navbar-btn text-white w-100 p-2" type="button" href="{% url 'show-all-items'%}">
                    <i class="fa fa-cc-stripe" aria-hidden="true"></i>
                    &nbsp;Посмотреть еще товары
                </a>
            </div>
        </div>
    </section>
{% endblock %}


